@import "fonts";

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  touch-action: manipulation;
}

body {
  overflow: hidden;
  background-image: url("../../public/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}